SECRET_KEY=*****
POSTGRES_USER=****
POSTGRES_DB=***
POSTGRES_PASSWORD=*****
DATABASE_URL=*****
ALGORITHM=****
ACCESS_TOKEN_EXPIRE_MINUTES=**
REFRESH_TOKEN_EXPIRE_MINUTES=****
REDIS_HOST=*****
CELERY_BROKER_URL=*******
CELERY_RESULT_BACKEND=*******

CLIENT_ID=*****
PROJECT_ID=****
AUTH_URI=****
TOKEN_URI=****
CLIENT_SECRET=******
REDIRECT_URIS=*****