SECRET_KEY=*****
POSTGRES_USER=****
POSTGRES_DB=***
POSTGRES_PASSWORD=*****
DATABASE_URL=*****
ALGORITHM=****
ACCESS_TOKEN_EXPIRE_MINUTES=**
RESET_PASSWORD_TOKEN_EXPIRE_MINUTES=***
REFRESH_TOKEN_EXPIRE_MINUTES=****
REDIS_HOST=*****
CELERY_BROKER_URL=*******
CELERY_RESULT_BACKEND=*******

CLIENT_ID=*****
PROJECT_ID=****
AUTH_URI=****
TOKEN_URI=****
CLIENT_SECRET=******
REDIRECT_URIS=*****

#DocumentStorage Envs
FILE_STORAGE_PROJECT_ID=*****
FILE_STORAGE_REGION_NAME=****
FILE_STORAGE_SECRET_ACCESS_KEY=*****
FILE_STORAGE_ACCESS_KEY_ID=******
MAX_FILE_SIZE=*****

#Firebase
FIREBASE_CREDENTIALS_BASE64=******