{% extends "base.html" %}

{% block title %}Job Application Notification{% endblock %}

{% block header_title %}Job Application Tracker{% endblock %}
{% block header_subtitle %}
    <div class="subtitle">Job Application Notification</div>
{% endblock %}

{% block content %}
    <h2>Job Application Notification</h2>
    <p>Hello {{ email }},</p>

    <p> Your job application for {{ job_title }} at {{ company }} has been marked as stale due to inactivity for 30 days. Withdraw, keep waiting, or reactivate?</p>

<!--    <p>Once verified, you'll be able to:</p>-->
{% endblock %}
